[project]
name = "lime-stable"
version = "0.9.59"

[tool.pytest.ini_options]
pythonpath = ["src"]
norecursedirs = [".git build node_modules", ".tox", "dist", "build", ".venv"]
addopts = ["--import-mode=importlib"]
#testpaths = "tests"